.repos {

  width: 100%;
  position: relative;
  height: auto;
  background-color: #0d1117;
  z-index: 2;
}

.search {
  z-index: 2;
}

.outerdiv {
  padding: opx;
}

.linkrepo {
  font-size: 1.5rem;
  color: #3c82dc;
}

.descriptionrepo {
  z-index: 4;
  color: #808993;
  font-size: 1.2em;
  overflow-wrap: anywhere;
}